.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
src/stan_files/*.o
src/stan_files/*.cc
src/stan_files/*.hpp
src/MetaStan.so
src/MetaStan.dll
src/init.o
vignettes/*.R
vignettes/*.html
vignettes/*_files
.DS_Store
